body{
    font-family: Orbitron;
    background-color: black;
    color: white;
}


#copyright{
    margin-left: 10px;
    margin-right: 10px;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    margin-left: 100px;
}
.dropdown-menu>a{
    color: white;
    margin-right: 100%;
    text-decoration: none;
}

.dropdown-menu>a:hover{
    color: #808080;
    background-color: #6B0504;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #6B0504;
}
.dropdown-toggle{
    background-color: #6B0504;
}
.navbar-nav>li>.dropdown-menu{
    margin-left: 99px;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color: #808080
}
.navbar{
    background-color:#6B0504 ;
}

.dropdown-menu{
    background-color:#6B0504 ; 
}

.footer{
    background-color:#6B0504
}
.navbar-fixed-bottom{
    color: black;
}

#logo{
    margin-top: -13px;
    margin-left: 0px;
}